* {
  box-sizing: border-box;
}
.wrapper {
    margin-top: 30px;
  display: flex;
  justify-content: center;
}

.card {
  margin-left: 20px;
  border-radius: 15px;
  background-color: #0d8f8e;
  width: calc((100% / 3.5) - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition-duration: 0.5s;
}
.card:hover .sal {
    background-color: #F46C55;
}
.card:hover {
    transform: scale(1.05 , 1.05);
    background-color: #F92E0C;
}
.card h1 {
  padding-top: 10px;
  margin-bottom: 5px;
  color: #fff;
  font-family: "Audiowide", cursive;
  font-size: 20px;
}

.card > p {
  background-color: #5bc5b6;
  width: 100%;
  transition-duration: 0.5s;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 0;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

.card section {
  background-color: #272427;
  width: 100%;
  font-size: 20px;
  color: #fff;
  font-family: sans-serif;
}

.card section p:not(:last-child) {
  margin-top: 0;
  padding: 20px;
  margin-bottom: 5px;
  border-bottom: 2px solid white;
}

button {
  margin: 20px;
  width: 50%;
  height: 40px;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: #272427;
  font-family: sans-serif;
  transition-duration: 1s;
}

.card:hover button {
  background-color: blueviolet;
  
}
button:hover {
    border: 2px solid white;
}

@media screen and (max-width : 600px) {
    * , p , h1  {
        font-size: 10px !important;
    }
    .card {
        width: calc(100% / 3);
        margin-left: 10px;
    }   

}